:root {
  --color-primary: #6366f1ff; /* Индиго (основной акцентный цвет) */

  --color-blue:    #3b82f6ff; /* Ярко-голубой */
  --color-pink:    #ec4899ff; /* Насыщенный розовый */
  --color-hover:   #8b5cf6ff; /* Фиолетовый для состояния наведения */
  --color-yellow:  #f59e0bff; /* Тёплый янтарный */
  --color-green:   #22c55eff; /* Свежий зелёный */

  --color-success: #10b981ff; /* Изумрудно-зелёный для успеха */
  --color-error:   #ef4444ff; /* Чисто-красный для ошибок */
}